<template name="sideNav">
	<aside class="side-nav" role="navigation">
		<header class="header">
			{{> userStatus}}
		</header>
		{{#if currentUser}}
			<div class="rooms-list">
				<div class="wrapper">
					{{> starredRooms}}
					<!-- {{> vipRooms}} -->
					{{> pendingDirectMessages}}
					{{> directMessages}}
					<h3><a href="http://www.woojou.com" class="logo">RETOUR AU SITE PUBLIQUE</a></h3>
					<h3><a href="http://www.woojou.net:3000" class="logo">RETOUR &Agrave; L&#39;ACCUEIL PRIV&Eacute;</a></h3>
					{{#if isAdmin}}
					{{ > channels }}
					<h3 class="open-settings">
						{{_ "App_Settings"}}
					</h3>
					{{/if}}
					<!--h3>
						<a href="{{pathFor 'privateHistory'}}">{{_ "History"}}</a>
					</h3-->
				</div>
			</div>
			<div class="flex-nav hidden">
				<section>
					{{> UI.dynamic template=flexTemplate data=flexData}}
				</section>
			</div>
			<span class="arrow bottom"></span>
		{{/if}}
		<footer class="footer">
			{{{footer}}}
		</footer>
	</aside>
</template>
